        body{
            background-color:#efe6d5;
            font-family: Georgia, "Times New Roman", serif;
            text-align:center;
        }

        /* logo */
        .logo{
            width:150px;
            height:150px;
            border-radius:50%;
            margin-top:30px;
        }

        h1{
            letter-spacing:3px;
            font-weight:normal;
        }

        hr{
            width:60%;
            border:1px solid #6fa3b0;
        }

        .content{
            width:60%;
            margin:auto;
            text-align:left;
        }

        h3{
            color:#d35400;
        }

        p{
            line-height:1.6;
        }

        .hours{
            font-style:italic;
        }